<form (submit)="loginUser($event)">
	<div class="input">
		<label>Username</label>
		<input type="text" name="username" #username='ngModel' ngModel required>
		<!-- <div class="alert alert-danger" *ngIf='username.touched && !username.valid'>User Name is required.</div> -->
		<div class="alert alert-danger" *ngIf='username.touched && username.value!=="admin"'>Please Enter Username and Password "admin"</div>
	</div>
	<div class="input">
		<label>Password</label>
		<input type="password" name="password" #password='ngModel' ngModel required>
		<!-- <div class="alert alert-danger" *ngIf='password.touched && !password.valid'>password is required.</div> -->
		<div class="alert alert-danger" *ngIf='password.touched && password.value!=="admin"'>Please Enter Username and Password "admin"</div>
	</div>	
	<div class="input">
		<input type="submit" value="Login">
	</div>
</form>