
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan='2'>Welcome {{loggedInUser|uppercase}}</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name</td>
      <td>{{user.firstName}}</td>
      
    </tr>      
    <tr >
      <td>Last Name</td>
      <td>{{user.lastName}}</td>
      
    </tr>
    <tr>
      <td>Sur Name</td>
      <td>{{user.surName}}</td>
    </tr>
    <tr >
      <td>Mob No</td>
      <td>{{user.mobile}}</td>
    </tr>
    <tr >
      <td>Email</td>
      <td>{{user.email}}</td>
    </tr>
    <tr >
      <td>Address</td>
      <td>{{user.Address}}</td>
    </tr>
    <tr >
      <td>DOB</td>
      <td>{{user.dob}}</td>
    </tr>
  </tbody>
</table>
</div>